/*
We set the element we are applying our loading mask to relative
*/

.zero-flex-fixed {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: 0;
	padding: 0;
	display: flex;
	position: fixed;
}

.loading-mask {
	@extend .zero-flex-fixed;

	z-index: 9999998;
	background-color: rgba(0, 0, 0, 0.25);
}

.load-indicator-wrapper {
	@extend .zero-flex-fixed;

	z-index: 9999999;
	text-align: center;
	align-items: center;
	justify-content: center;
}

.load-indicator {
	width: auto;
	height: 100px;
	position: relative;
}

.load-indicator > .indicator {
	width: 6px;
	height: 100%;
	text-align: center;
	display: inline-block;
	background-color: #222;
	animation: sk-stretchdelay 1.2s infinite ease-in-out;
	-webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.load-indicator .indicator:nth-child(2) {
	-webkit-animation-delay: -1.1s;
	animation-delay: -1.1s;
}

.load-indicator .indicator:nth-child(3) {
	-webkit-animation-delay: -1.0s;
	animation-delay: -1.0s;
}

.load-indicator .indicator:nth-child(4) {
	-webkit-animation-delay: -0.9s;
	animation-delay: -0.9s;
}

.load-indicator .indicator:nth-child(5) {
	-webkit-animation-delay: -0.8s;
	animation-delay: -0.8s;
}

@keyframes sk-stretchdelay {
	0%, 40%, 100% {
		transform: scaleY(0.4);
		-webkit-transform: scaleY(0.4);
	}
	20% {
		transform: scaleY(1.0);
		-webkit-transform: scaleY(1.0);
	}
}
