<div class={{concat "loading-mask" (if this.hidden " hide")}}>
	<div class="load-indicator-wrapper">
		<div class="load-indicator">
			<div class="indicator"></div>
			<div class="indicator"></div>
			<div class="indicator"></div>
			<div class="indicator"></div>
			<div class="indicator"></div>
		</div>
	</div>
</div>


{{yield (hash
	hide=(action this.hide)
	show=(action this.show)
	promise=this.promise
	maxLoadingTime=this.maxLoadingTime
	loadPromise=(action this.loadPromise)
)}}