.locale-select {
    height: 2.4em;
    font-size: 1em;
    margin-left: auto;
    margin-top: 0.6em;
    align-self: flex-start;

    md-input-container {
        margin: 0;
    }

    md-select {
        padding-right: 0;

        md-select-value {
            border-bottom: none;
        }
    }

    /* Small (sm) */
    @media (max-width: 639px) {
        font-size: 0.6em;
    }

    /* Medium (md) */
    @media (max-width: 767px) {
        font-size: 0.7em;
    }

    /* Large (lg) */
    @media (max-width: 1023px) {
        font-size: 0.8em;
    }

    /* Extra Large (xl) */
    @media (max-width: 1279px) {
        font-size: 0.9em;
    }
}
