.locale-select {
    height: 2.4em;
    margin-left: auto;
    font-size: 0.8rem;
    margin-top: 0.8rem;
    align-self: flex-start;

    md-input-container {
        margin: 0;
    }

    md-select {
        padding-right: 0;

        md-select-value {
            border-bottom: none;
        }
    }

    @media (max-width: 639px) {
        /* ... */
    }
}
