<h2 id="title">Ember CLI Utilities</h2>

<NotificationContainer @position="top-right" />

<p>
	The <a href="https://github.com/devotox/ember-cli-utilities">README</a> lists all the utilities in this addon
</p>

<h3>Locale Select</h3>
<LocaleSelect /><br>

<h3>Notifications</h3>
{{#each (array "alert" "warn" "error" "success"  "hub" "system") as |type|}}
	<PaperButton @raised={{true}} {{on 'click' (fn (route-action 'notify') type)}}>
		{{titleize type}}
	</PaperButton>
{{/each}}

<br><br>

<h3>JSON FN</h3>
<code>{{this.jsonString}}</code>