<h2 id="title">Ember CLI Utilities</h2>

<p>
	The <a href='https://github.com/devotox/ember-cli-utilities'>README</a> lists all the utilities in this addon
<br />
<br />
	This example uses the Setup Controller Mixin to allow us to run After Render.
<br />
	It also uses the matrix service to allow us to do this...
</p>

<code>
	CTRL + ALT + M - Matrix Start
<br />
	CTRL + SHIFT + M - Matrix Stop
</code>